@use "../main.scss";

$main-color: #ffd2a4;
$blue: #666dff;
$text: #232536;
$white: #ffffff;

#s1 {
  background-color: $text;
  padding-top: 156px;
  .container {
    .s1_top {
      display: grid;
      gap: 100px;
      padding-bottom: 72px;
    }
    .s1_bottom {
      padding-bottom: 62px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      .text {
        display: flex;
        flex-direction: column;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: $white;
          opacity: 0.6;
        }
        h6 {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: $white;
        }
      }
    }
    .s1_left {
      h1 {
        font-weight: 600;
        font-size: 56px;
        line-height: 68px;
        color: $white;
        margin: 24px 0;
        max-width: 624px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        opacity: 0.6;
        max-width: 528px;
      }
      .btn {
        margin-top: 32px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 20px 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: top left;
        color: #fff;
        opacity: 0.87;
        border: none;
        background-image: url(../../images/service/button.svg);
        background-color: #444cfc;
        transition: 0.5s;
      }
    }
    .s1_right {
      position: relative;
      .img {
        position: relative;
        z-index: 1;
        width: 100%;
      }
      .bottom {
        position: absolute;
        bottom: 7px;
        left: -15px;
      }
      .top {
        position: absolute;
        top: 0;
        right: -20px;
      }
    }
  }
}

@media (min-width: 900px) {
  #s1 {
    padding-top: 196px !important;
  }
}

@media (min-width: 1100px) {
  #s1 .container .s1_top {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }
}
