@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  display: revert;
}

footer {
  background-color: #ffffff;
}

.footer_top {
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer_top .card {
  position: relative;
  padding: 50px;
  background-color: #666dff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.footer_top .card .shape1 {
  position: absolute;
  top: 0;
  left: 0;
}
.footer_top .card .shape2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.footer_top .card h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer_top .card h2 {
  margin-top: 13px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  max-width: 480px;
}
.footer_top .card input {
  width: 100%;
  padding: 20px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  border: none;
}

.footer_bottom .container {
  padding-top: 60px;
  position: relative;
}
.footer_bottom .container .left {
  color: #232536;
  padding-bottom: 64px;
}
.footer_bottom .container .shape3 {
  position: absolute;
  top: 0;
  left: 20px;
}
.footer_bottom .container h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  max-width: 458px;
}
.footer_bottom .container h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  margin: 40px 0 28px;
}
.footer_bottom .container h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #232536;
}
.footer_bottom .container h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  max-width: 206px;
  margin-top: 40px;
}
.footer_bottom .container .right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer_bottom .container .right .bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.footer_bottom .container .right .bold li a {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.footer_bottom .container .right ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  margin-bottom: 15px;
  display: flex;
}
.footer_bottom .container .right .contact {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_bottom .container .right .contact h3 a {
  color: #232536;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

footer section {
  background-color: #ffd2a4;
  padding: 30px 0;
}
footer section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer section .container .logo {
  display: flex;
  gap: 50px;
  align-items: center;
}
footer section .container .logo h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
}
footer section .container .sites {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media (min-width: 700px) {
  .footer_bottom .container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
  .footer_bottom .container .contact {
    bottom: 64px;
    top: auto !important;
  }
  .footer_top .card {
    padding: 96px !important;
  }
}
@media (min-width: 800px) {
  .footer_top .card {
    flex-direction: initial !important;
    justify-content: space-between;
  }
  .footer_top .card input {
    width: 40%;
  }
}
@media (min-width: 900px) {
  .footer_top .card {
    gap: 90px;
  }
<<<<<<< HEAD
=======
  .right {
    gap: 100px !important;
  }
}
.df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 12px;
  border: 4px solid black;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.6s;
  background-color: white;
}

#backtop a {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

#backtop:hover {
  border-color: orange;
}
#backtop:hover a {
  color: orange;
}

#header {
  padding: 40px 0px;
  background-color: #232536;
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
#header .nav-left {
  -moz-column-gap: 130px;
       column-gap: 130px;
}
#header .nav-left .nav-lists {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#header .nav-left .nav-lists a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#header .nav-left .nav-lists a:hover {
  color: #ffd2a4;
  transition: 1s;
}
#header .nav-right .nav-lists {
  -moz-column-gap: 32px;
       column-gap: 32px;
}
#header .nav-right .nav-lists img {
  margin-left: 7px !important;
}
#header .nav-right .nav-lists a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.6;
}
#header .nav-right .nav-lists a:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 1;
  color: #ffd3af;
  transition: 0.5s;
}
#header .nav-right .icon {
  border: none;
  background-color: transparent;
}
#header .nav-right .icon .fa-bars {
  width: 20px;
  font-size: 30px;
  color: whitesmoke;
}

/*-- navigation bar mobile---*/
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232536;
  transition: 0.7s;
  opacity: 0.95;
}
#navbar-responsive .nav-box {
  display: flex;
  justify-content: right;
}
#navbar-responsive .nav-box #navbar-close {
  background-color: transparent;
  border: none;
  margin: 35px 15px 0px 0px;
}
#navbar-responsive .nav-box #navbar-close img {
  width: 30px;
}
#navbar-responsive .nav-box #navbar-close:hover {
  transform: rotate(360deg);
  transition: 1s;
}
#navbar-responsive .nav-position {
  text-align: center;
}
#navbar-responsive .nav-position li {
  margin: 25px 0px;
}
#navbar-responsive .nav-position li a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#navbar-responsive .nav-position li a:hover {
  color: #ffd2a4;
  transition: 1s;
}

/*-- navigation bar mobile---*/
@media (min-width: 900px) {
  header #navbar-open {
    display: none;
  }
}
@media (max-width: 900px) {
  header .nav-lists {
    display: none;
  }
  header .primary-button {
    display: none;
  }
}
.btn {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: top left;
  color: #fff;
  opacity: 0.87;
  border: none;
  background-image: url(../../images/service/button.svg);
  background-color: #444cfc;
  transition: 0.5s;
}

.welcome__left-right {
  padding-top: 180px;
  padding-bottom: 50px;
}
.welcome__left-right .welcome__left .figure {
  width: 24px;
  height: 24px;
  background: #ffd3af;
}
.welcome__left-right .welcome__left h5 {
  padding: 12px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
}
.welcome__left-right .welcome__left h1 {
  margin-top: 16px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  max-width: 624px;
  color: #232536;
}
.welcome__left-right .welcome__left .paragraph {
  padding: 10px 0 24px;
  max-width: 624px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}
.welcome__left-right .welcome__left button {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444cfc;
  opacity: 0.87;
}
.welcome__left-right .welcome__left .person {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 0 50px;
}
.welcome__left-right .welcome__left .person .line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: rotate(90deg);
  max-width: 16px;
  width: 100%;
}
.welcome__left-right .welcome__left .photo-hover {
  display: flex;
}
.welcome__left-right .welcome__left .photo-hover .image {
  max-width: 608px;
  width: 100%;
}
.welcome__left-right .welcome__left .photo-hover .hover .blue {
  width: 10px;
  height: 80px;
  background: blue;
}
.welcome__left-right .welcome__left .photo-hover .hover .pink {
  width: 10px;
  height: 250px;
  background: #ffdfc6;
}
.welcome__left-right .welcome__left .photo-hover .hover .orange {
  width: 10px;
  height: 60px;
  background: #ffa155;
}
.welcome__left-right .welcome__right {
  background: #ffdfc6;
  max-width: 515px;
  width: 100%;
  height: 80%;
  padding: 72px 77px 77px 72px;
  position: relative;
}
.welcome__left-right .welcome__right .position {
  position: absolute;
  top: 0;
  right: 0;
}
.welcome__left-right .welcome__right .right {
  padding-bottom: 25px;
}
.welcome__left-right .welcome__right .right h2 {
  max-width: 366px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
}
.welcome__left-right .welcome__right .right_1 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 21px;
}
.welcome__left-right .welcome__right .right_1 p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}
.welcome__left-right .welcome__right .right_1 p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  opacity: 0.6;
}

.intro {
  margin-top: 16px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  max-width: 624px;
  color: #232536;
  padding: 50px 0 64px;
}

.card {
  max-width: 624px;
  display: flex;
}
.card .card__left {
  width: 100%;
  max-width: 300px;
}
.card .card__left img {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.card .card__right {
  background: #f9f9ff;
  padding: 32px 32px;
}
.card .card__right h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
}
.card .card__right .right_1 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.card .card__right .right_1 p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}
.card .card__right .right_1 p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  opacity: 0.6;
}

#bcg {
  margin-top: 100px;
  padding-bottom: 96px;
  background: #f9f9f9;
}
#bcg .start h1 {
  padding: 96px 0 64px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  max-width: 624px;
  color: #232536;
}

.rows {
  -o-object-fit: cover;
     object-fit: cover;
}
.rows:hover > :not(:hover) {
  filter: grayscale(80%);
  transform: scale(0.95);
}

.row {
  background: #fff;
  max-width: 405px;
}
.row .row__bottom {
  padding: 32px 32px;
}
.row .row__bottom .row__content h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
}
.row .row__bottom .row__content p {
  padding: 16px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}
.row .row__bottom .row__content-1 {
  display: flex;
  gap: 15px;
  align-items: center;
}
.row .row__bottom .row__content-1 p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}
.row .row__bottom .row__content-1 p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  opacity: 0.6;
}

@media (max-width: 400px) {
  .welcome__right .right_1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 200px) {
  .card {
    display: grid;
    grid-template-columns: auto;
  }
  .card .card__left {
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .rows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
@media (min-width: 680px) {
  .cards {
    display: grid;
    gap: 25px;
  }
  .card {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 920px) {
  .cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
  }
}
@media (min-width: 950px) {
  .welcome__left-right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    justify-content: center;
  }
  .welcome__left-right .welcome__left h1 {
    font-size: 48px;
  }
  .rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}