.df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  font-weight: 400;
  font-size: 16px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 12px;
  text-transform: uppercase;
  color: white;
  background-color: blue;
}
.primary-button:hover {
  color: #ffd2a4;
  background-color: #1c1d28;
  transition: 1s;
}

#header {
  padding: 40px 0px;
  background-color: black;
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
#header .nav-left {
  -moz-column-gap: 130px;
       column-gap: 130px;
}
#header .nav-left .nav-lists {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#header .nav-left .nav-lists a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#header .nav-left .nav-lists a:hover {
  color: #ffd2a4;
  transition: 1s;
}
#header .nav-right .fa-bars {
  width: 20px;
  color: whitesmoke;
}

/*-- navigation bar mobile---*/
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  transition: 0.7s;
}
#navbar-responsive .nav-box {
  display: flex;
  justify-content: right;
}
#navbar-responsive .nav-box #navbar-close {
  margin: 35px 22px 0px 0px;
}
#navbar-responsive .nav-box #navbar-close:hover {
  transform: rotate(360deg);
  transition: 1s;
}
#navbar-responsive .nav-position {
  text-align: center;
}
#navbar-responsive .nav-position li {
  margin: 50px 0px;
}
#navbar-responsive .nav-position li a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#navbar-responsive .nav-position li a:hover {
  color: #ffd2a4;
  transition: 1s;
}

/*-- navigation bar mobile---*/
@media (min-width: 940px) {
  header #navbar-open {
    display: none;
  }
}
@media (max-width: 940px) {
  header .nav-lists {
    display: none;
  }
  header .primary-button {
    display: none;
  }
}